
/* .space-grotesk-<uniquifier> {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */


/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

body{
    background-color: #17171A;
}


* {
    margin: 0;
    padding: 0;
}

.header-main {
    height: 150px;
    background-color: #121214;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-main__Title1 {
    color: #E07B67;
    font-family: "Space Grotesk", sans-serif;
}

.header-main__Title2 {
    color: #ffffff;
}

.header-main__BarraDePesquisa input{
    background-color: #252539;
    background-image: url(/src/assets/image/codelandia/magnifying-glass-svgrepo-com.svg);
    background-repeat: no-repeat ;
    background-position: left;
    padding: 20px;
    background-size: 20px;
    color: #AFAbb6;
    border: 0;
    border-radius: 5px;
    width: 1220px;
    height: 34px;
    margin-bottom: 20px;
    cursor: pointer;
}

main {
    font-family: "Inter";
}

#main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    margin-top: 2%;
    gap: 50px;
}

.main-content-box {
    background-color: #202024;
    width: 1220px;
    flex-basis: 200px ;  
    border-radius: 5px;
}

.main-content-box:hover{
    border: 0.5px solid #E07B67;
}

.main-content__date {
    color: #E07B67;
    padding: 10px;
    font-size: 13px;
    padding-top: 20px;
}

.main-content__title {
    color: #ffffff;
    padding: 10px;
}

.main-content__text{
    color: #AFAbb6;
    padding: 10px;
}









